body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin-top: 2rem !important;
}

textarea:focus,
input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.dropdown {
  margin-right: 10px;
}

.dropdown-toggle {
  width: 120px;
}

.dropdown-menu {
  width: 120px;
  min-width: unset !important;
}

.btn-chocolate {
  color: #fff !important;
  background-color: chocolate !important;
  border-color: chocolate !important;
}

.input-text {
  min-width: 440px !important;
}


.input-fix-small {
  min-width: 160px;
  border-radius: 5px 5px;
  padding-left: 10px;
  background-color: lightgray;
  height: 30px;
}

.input-fix-big {
  min-width: 240px;
  border-radius: 5px 5px;
  padding-left: 10px;
  background-color: lightgray;
  height: 30px;
}

.recommendationText {
  padding-left: 250px;
  margin-top: -5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tabStyles {
  margin-left: 20px;
}

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
  border-bottom: 3px solid cadetblue;
}

.dataInputStyle {
  padding-top: 30px;
  padding-left: 30px;
}

input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
}

fieldset {
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.fieldsetStyle {
  max-width: 500px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: cadetblue;
  border: solid;
  border-width: 1px;
}

.maxPlaceHolder {
  max-width: 100%;
}

.bigPlaceHolder {
  max-width: 50%;
}

.testPlaceHolder {
  max-width: 50%;
  margin-left: 30px;
  margin-top: 30px;
}

.adjustedPlaceHolder {
  max-width: 480px;
}

.modal-main {
  text-align: center;
  position: fixed;
  background: white;
  max-width: 300px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: slide-in;
  animation-duration: 0.5s;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: #ffffff;
}

legend {
  color: #39c !important;
  font-style: italic !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  display: block !important;
  width: unset !important;
  margin-bottom: .5rem !important;
  font-size: 1rem !important;
  line-height: inherit !important;
  white-space: normal;
}

.responsiveTitle {
  font-size: 4vw;
  text-align: center;
  padding-top: 20px;
  background: white;
}

.responsiveSubtitle {
  font-size: 1.5vw;
  text-align: center;
  padding-bottom: 35px;
}

.socialAccess {
  width: 300px;
  position: fixed;
  left: 40%;
}

.socialAccess button {
  width: 260px;
  border: none;
}

.appFooter {
  width: 100%;
  text-align: center;
  background: #ddd;
  bottom: 0;
  position: fixed;
  height: 10%;
}

.copyrightLabel {
  padding-top: 10px;
  float: right;
  padding-right: 60px;
  font-size: smaller;
  font-style: italic;
}

.copyrightLabel img {
  padding-right: 10px;
  width: 15%;
  height: 15%;
}

.copyrightLabel a:link {
  text-decoration: none;
  color: inherit;
}

.copyrightLabel a:visited {
  text-decoration: none;
  color: inherit;
}

.navbar {
  width: 200px;
}

.sidebar-middle {
  position: fixed;
  margin-top: 180px;
}

.sidebar-lower {
  position: fixed;
  margin-top: 600px;
  width: 50px
}

.viewAllTest {
  padding-left: 30px;
}

.alignCenter {
  text-align: center;
}

.asvpRemoveButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, darkorange 5%, darkorange 100%);
  background-color: #33bdef;
  cursor: pointer;
  color: #ffffff !important;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.asvpButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, cadetblue 5%, cadetblue 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}

.asvpButton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.asvpButton:active {
  position: relative;
  top: 1px;
}

.tableStyle {
  padding: 10px;
  width: 90%;
}

.fixedWidth {
  width: 30%;
}

.leftSideTestData {
  float: left;
  width: 70px;
  padding-top: 18px;
}

.rightSideTestData {
  float: left;
}

.test-enter-done {
  float: left;
  width: 100%;
}

.test:not(:last-child):after {
  height: 30px;
  border-bottom: 1px solid lightgray;
}

.tableHeaderStyle {
  background-color: cadetblue;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

table td {
  border: 1px solid black;
}

table tr:first-child td {
  border-top: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:last-child {
  border-right: 0;
}

table td:nth-child(4) {
  background-color: #ffffff;
}

table tr:nth-child(even) {
  background-color: #dddddd;
}


@media (max-width: 800px) {

  .socialAccess {
    left: 30%;
  }

}